*{margin:0;padding:0;}
html{overflow-y:scroll;}
body{font-size:12px;font-family:Arial, sans-serif, serif;color:#333;background-color:#fff;}
ul,ol{list-style:none;}
a{color:#333;text-decoration:none;}
img{border:none;}